services:
  api:
    build: .
    ports:
      - "8081:8081"
    volumes:
      - data:/app/data
      - ./.env:/app/.env
    environment:
      - GIN_MODE=debug
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081/api/v1/ping",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  data:
