version: "3.8"

services:
  api:
    build: .
    ports:
      - "8081:8081"
    volumes:
      - ./data:/root/data
      - ./files:/root/files
    environment:
      - GIN_MODE=release
      - DB_PATH=/root/data/sounds.db
      - PORT=8081
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081/api/v1/ping",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  data:
  files:
