name: Check Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  quality:
    name: Lint, Test, Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task: [lint, test, build]

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: true

      - name: Run Lint
        if: matrix.task == 'lint'
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0

      - name: Run Tests
        if: matrix.task == 'test'
        run: go test ./...

      - name: Build
        if: matrix.task == 'build'
        run: go build ./...

  docker-build:
    name: Build Docker
    runs-on: arc-runner-set

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: |
            test-image
